<div>
  <app-navbar (toggleCartEvent)="toggleCart()"></app-navbar>
  <div class="container mx-auto">
    <app-herosection></app-herosection>
    <app-stat-card></app-stat-card>
    <!-- Product Card -->
    <div>
      <div
        class="mt-20 mb-20 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 mt-10 mx-20"
      >
        @for (item of products; track item) {
        <div
          class="relative flex w-full max-w-xs flex-col overflow-hidden rounded-lg border border-gray-100 bg-white shadow-md"
        >
          <a
            class="relative mx-3 mt-3 flex h-60 overflow-hidden rounded-xl"
            href="#"
          >
            <img
              class="object-cover"
              src="{{ item.image }}"
              alt="{{ item.title }}"
            />
            <span
              class="absolute top-0 left-0 m-2 rounded-full bg-black px-2 text-center text-sm font-medium text-white"
            >
              39% OFF
            </span>
          </a>
          <div class="mt-4 px-5 pb-5">
            <a href="#">
              <h5 class="text-xl tracking-tight text-slate-900">
                {{ item.title }}
              </h5>
            </a>
            <div class="mt-2 mb-5 flex items-center justify-between">
              <p>
                <span class="text-3xl font-bold text-slate-900"
                  >$ {{ item.price }}</span
                >
                <span class="text-sm text-slate-900 line-through"
                  >$ {{ item.price }}</span
                >
              </p>
              <div class="flex items-center">
                <!-- Star ratings -->
                <svg
                  aria-hidden="true"
                  class="h-5 w-5 text-yellow-300"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                  ></path>
                </svg>
                <svg
                  aria-hidden="true"
                  class="h-5 w-5 text-yellow-300"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                  ></path>
                </svg>
                <svg
                  aria-hidden="true"
                  class="h-5 w-5 text-yellow-300"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                  ></path>
                </svg>
                <svg
                  aria-hidden="true"
                  class="h-5 w-5 text-yellow-300"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                  ></path>
                </svg>
                <svg
                  aria-hidden="true"
                  class="h-5 w-5 text-yellow-300"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                  ></path>
                </svg>
                <span
                  class="mr-2 ml-3 rounded bg-yellow-200 px-2.5 py-0.5 text-xs font-semibold"
                  >5.0</span
                >
              </div>
            </div>
            <p class="text-sm text-slate-900 line-clamp-2">
              {{ item.description }}
            </p>
            <a
              href="#"
              class="mt-5 flex items-center justify-center rounded-md bg-slate-900 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-blue-300"
              (click)="addToCart(item)"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="mr-2 h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
                />
              </svg>
              Add to cart
            </a>
          </div>
        </div>
        }
      </div>
    </div>
    <app-cta-banner></app-cta-banner>
    <app-feedback></app-feedback>
    <app-footer></app-footer>
    <router-outlet></router-outlet>
  </div>

  <!-- Embedded Cart Popup -->
  <div
    *ngIf="showCart"
    class="fixed inset-0 bg-black bg-opacity-80 flex items-center justify-center z-50"
    (click)="toggleCart()"
  >
    <div
      class="bg-gray-100 w-full max-w-[80%] py-8 max-h-[90vh] overflow-y-auto rounded-lg"
      (click)="$event.stopPropagation()"
    >
      <div class="container mx-auto px-4">
        <h1 class="text-2xl font-semibold mb-4">Shopping Cart</h1>
        <div class="flex flex-col md:flex-row gap-4">
          <div class="md:w-3/4">
            <div class="bg-white rounded-lg shadow-md p-6 mb-4">
              <table class="w-full">
                <thead>
                  <tr>
                    <th class="text-left font-semibold">Product</th>
                    <th class="text-left font-semibold">Price</th>
                    <th class="text-left font-semibold">Quantity</th>
                    <th class="text-left font-semibold">Total</th>
                    <th class="text-left font-semibold">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of cart_list">
                    <td class="py-4">
                      <div class="flex items-center">
                        <img
                          class="h-16 w-16 mr-4"
                          [src]="item.image"
                          alt="{{ item.title }}"
                        />
                        <span class="font-semibold">{{ item.title }}</span>
                      </div>
                    </td>
                    <td class="py-4">${{ item.price }}</td>
                    <td class="py-4">
                      <div class="flex items-center">
                        <button
                          class="border rounded-md py-2 px-4 mr-2"
                          (click)="updateQuantity(item, -1)"
                        >
                          -
                        </button>
                        <span class="text-center w-8">{{
                          item.quantity || 1
                        }}</span>
                        <button
                          class="border rounded-md py-2 px-4 ml-2"
                          (click)="updateQuantity(item, 1)"
                        >
                          +
                        </button>
                      </div>
                    </td>
                    <td class="py-4">
                      ${{ calculateTotal(item, item.quantity || 1) }}
                    </td>
                    <td class="py-4">
                      <button
                        class="text-red-500 hover:text-red-700"
                        (click)="removeItem(item)"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="h-6 w-6"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M6 18L18 6M6 6l12 12"
                          />
                        </svg>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="md:w-[30%]">
            <div class="bg-white rounded-lg shadow-md p-6">
              <h2 class="text-lg font-semibold mb-4">Summary</h2>
              <div class="flex justify-between mb-2">
                <span>Subtotal</span>
                <span>${{ getSubtotal().toFixed(2) }}</span>
              </div>
              <div class="flex justify-between mb-2">
                <span>Taxes</span>
                <span>${{ getTaxes().toFixed(2) }}</span>
              </div>
              <div class="flex justify-between mb-2">
                <span>Shipping</span>
                <span>${{ getShipping().toFixed(2) }}</span>
              </div>
              <hr class="my-2" />
              <div class="flex justify-between mb-2">
                <span class="font-semibold">Grand Total (USD)</span>
                <span class="font-semibold">${{ getTotal().toFixed(2) }}</span>
              </div>
              <div class="flex justify-between mb-2">
                <span class="font-semibold">Grand Total (KHR)</span>
                <span class="font-semibold"
                  >{{ (getTotal() * 4100).toFixed(2) }} ៛</span
                >
              </div>
              <button
                class="bg-blue-500 text-white py-2 px-4 rounded-lg mt-4 w-full"
                (click)="checkout()"
              >
                Checkout
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Success Popup -->
  <div
    *ngIf="showSuccess"
    class="fixed inset-0 bg-black bg-opacity-80 flex items-center justify-center z-50"
    (click)="closeSuccess()"
  >
    <div
      class="bg-white p-6 rounded-lg shadow-md text-center"
      (click)="$event.stopPropagation()"
    >
      <h2 class="text-xl font-semibold mb-4">Success!</h2>
      <p>Your order has been placed successfully.</p>
      <button
        class="mt-4 bg-green-500 text-white py-2 px-4 rounded-lg"
        (click)="closeSuccess()"
      >
        OK
      </button>
    </div>
  </div>
</div>
